<% title "о компании" %>

<h2 class="buffer-both text-center" style="text-color: #6B2175;">КОНФЕТИКО</h2><hr />

<div class="col-lg-10 row pad-l-40">
  <div>
    <p>Конфетико — это доставка сладостей на дом. Работаем по всему Санкт-Петербургу 7 дней в неделю.</p>
    <p>Мы возим продукты с собственного склада. Весь ассортимент прошёл проверку отдела качества Смороза, мы гарантируем свежесть и высокое качество продуктов. В Смороза есть как популярные марки, так и особенные товары, которые вы не найдете в обычных магазинах.
    </p><hr />

    <h5 class="buffer-both">Оцените удобства заказа продуктов через Конфетико: </h5>

    <p class="pad-l-20"> Никаких тяжелых сумок. Вам больше не нужно таскать тяжести — мы доставим ваши покупки прямо к порогу.</p>
    <p class="pad-l-20">Наконец-то нашлось время на хобби. Не трать время на поездки в магазин — посвятите эти часы себе, своему хобби, своей семье. А мы пока закупим и привезем необходимые вам товары. </p>
    <p class="pad-l-20">У вас нет автомобиля? Не беда, теперь для закупок вместо машины у вас есть Конфетико.</p>
    <p class="pad-l-20">Больше, чем вы ожидаете. При каждом заказе вы будете находить новые и новые плюсы доставки продуктов на дом, потому что это на самом деле невероятно удобно!
    </p><hr />

    <h5 class="buffer-both">Немного про цены</h5>

    <p>Мы стараемся держать невысокие цены. И вот за счет чего это у нас получается:</p>
    <p class="pad-l-20">Минимальные наценки. С большинством производителей мы работаем напрямую, и позволяем им самим установить цены на свой товар.
    </p>
    <p class="pad-l-20">Не несем затраты на содержание магазинов. У нас нет затрат на аренду торговых площадей, на персонал, на торговое оборудование и прочие изержки, которые несут классические магазины. Отсутствие денежного входного барьера для производителей. Чтобы появиться «на полке» Confetico, производитель должен лишь подтвердить качество своей продукции. Никаких дополнительных сборов за возможность продаваться.
    </p>
    <p class="pad-l-20">Высокий уровень автоматизации. Мы постоянно оптимизируем бизнес-процессы, чтобы сократить издержки и предложить выгодные цены на товары.
    </p><hr />

    <h5 class="buffer-both">Конфетико разрастается с каждым днем</h5>

    <p>На полку Конфетико может попасть любой производитель. Поэтому каждый день товаров на наших полках становится все больше и больше.
    </p>
    <p>У нас нет денежных входных барьеров для производителей.</p>
    <p>Чтобы продаваться через Конфетико, необходимо подтвердить качество своей продукции.
    </p>
    <p>Производитель сам назначает цену на свой товар, Конфетико лишь взимает фиксированную комиссию. </p>
    <p class="buffer-top">Спасибо большое, что вы выбрали Конфетико!</p>
  </div>
</div>
