<% title "Доставка" %>

<h2 class="buffer-both text-center">Доставка <hr /></h2>

<div class="row pad-l-40">
  <div>
    <h4 class="buffer-top">Стоимость доставки</h4>
    <p> Мы доставим заказ к вашему порогу. Стоимость подъёма уже учтена в тарифе.</p><hr />
    <p><b class="pad-r-20">Сумма заказа 1000 руб. и более </b> Бесплатно</p><hr />
    <p><b class="pad-r-20">Сумма заказа менее 1000 руб. </b> 300 руб.</p><hr />

    <h4 class="buffer-both">Время и сроки доставки </h4>
      <p>Служба доставки работает ежедневно с 9 до 21 вечера.</p>
      <p>Курьер доставит ваши покупки через 3 часа после оформления заказа или в выбранное вами день/время.</p>
      <p>Чтобы получить заказ «день в день», необходимо оформить его до 18 часов.</p><hr />

    <h4 class="buffer-both">География доставки </h4>
      <p>В настоящее время мы ежедневно доставляем заказы по Санкт-Петербургу в пределах КАД.</p>
      <p>Доставка за КАД производится 1 раз в неделю. Вопросы по условиям доставки за КАД уточняйте по телефону: (812) 700-00-00. </p><hr />

    <h4 class="buffer-both">Оплата заказа </h4>
      <p>На сайте банковской картой Visa/MasterCard</p>
      <p>Курьеру банковской картой Visa/MasterCard или наличными.</p>
  </div>
</div>
