<footer>
  <div class="container-fluid bg-color text-white">
    <div class="row">
      <div class="col-lg-2 buffer-top text-center">
        <small class="text-center">Сайт создал Дмитрий Смирнов vergil.sm@yandex.ru</small>
      </div>
      <div class="col-lg-6 buffer-top text-center">
        <p>Заказать распечатку прайс-листа можно здесь: confetico@example.com</p>
        <p>Обратная связь: confsupport@example.com</p>
      </div>
      <div class="col-lg-2 text-center buffer-both">
        <h5><i class="fa fa-phone"></i> 8 800 100 10 10</h5>
      </div>
      <div class="col-lg-2 text-center buffer-top">
        <p>Company @confetico</p>
      </div>
    </div>
  </div>
</footer>
