<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content list-border">
      <div class="modal-header">
        <h5 class="modal-title alert-success" id="exampleModalLabel">Товар добавлен в корзину!</h5>
      </div>
      <div class="modal-body">
        <div class="max-width">
          <div class="row">

            <div class="col-md-6">
              <h5><%= @item.name %></h5>
            </div>
            <div class="col-md-3">
              <h5><%= @item.weight %><small> гр</small></h5>
            </div>
            <div class="col-md-3">
              <h5><%= @item.price %> <small><i class="fa fa-rub"></i></small></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Продолжить покупку</button>
        <%= link_to "В корзину", cart_path, method: :get, class: "btn btn-primary btn-sm", data: {dismiss: "modal"} %>
      </div>
    </div>
  </div>
</div>
