<% title "Акции" %>

<h2 class="buffer-both text-center">Товары по акции <hr /></h2>

<div class="mainWrapper">
  <% @items.each do |item| %>
    <% if item.stock_price%>
      <div class="wrapper text-center">
        <div>
          <%= image_tag(item_picture(item), class: "card-img-top") %>
        </div>
          <div class="chl buffer-top">
            <h4><%= link_to  item.name, item_path(item) %></h4>
          </div>
        <div class="row buffer-both chl">
          <div class="col-lg-6 text-right light">
            <h5><%= item.weight %> гр.</h5>
          </div>
          <div class="col-lg-6 text-left light">
            <h5><%= item.stock_price %> <small><i class="fa fa-rub"></i></small></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
