<h4 class="buffer-both">Все администраторы</h4>

<% if @admin.presence %>
  <table class="table table-hover">
    <thead class="bg-color text-white">
      <tr>
        <th scope="col">id:</th>
        <th scope="col">Email</th>
        <th scope="col">created_at</th>
        <th scope="col">updated_at</th>
      </tr>
    </thead>
    <% @admins.each do |admin| %>
      <tbody>
        <tr>
          <th scope="row"><%= admin.id %></th>
          <td><%= admin.email %></td>
          <td><%= admin.created_at %></td>
          <td><%= admin.updated_at %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
