@import "bootstrap";
@import "font-awesome";

/*My styles*/
@import "images";
@import "marquee";
@import "template";
@import "admin";
@import "alerts";
@import "deliveries";

/* Buffers */

.buffer-top-lg {
    margin-top: 30px;
}

.buffer-top {
    margin-top: 20px;
}

.buffer-top-15 {
    margin-top: 15px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buffer-both-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Убирает * в simple_form*/
abbr[title="required"] {
  display: none;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 3px solid rgb(128,0,128);
}

h5 {
  margin: 0rem;
}

li {
  list-style-type: none;
}

.opac-05 {
  opacity: 0.5;
}
