.mainWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: auto;
}

.wrapper {
  background: #8e44ad;
  width: 30%;
  margin: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  border: 1px solid #8e44ad;
}

.chd {
  display: block;
  width: 100%;
  height: auto;
}
