.img-logo {
  border-radius: 30px;
  width: 132px;
  height: 143px;
}

.image-director {
  border-radius: 60px;
  border: 1px solid black;
  margin: 10px 160px 20px;
}

#img-lg {
  width: 220;
  height: auto;
  margin: 0 auto;
}

.img-md {
  width: 160px;
  height: auto;
  margin: 0 auto;
}

.img-sm {
    height: 50px;
    width: auto;
    float: right
}
