html, body {
  margin: 0;
  height: 100%
}

.page-wrap {
  min-height: 100%;
}

footer {
  padding-top: 40px;
}

.bg-color {
  background-color: #6B2175;
}

.light-blue {
  color: #1D97BF;
}

.cart-white {
  color: white;
}

.indent-top-sm {
  padding-top: 0.3rem;
}

.navbar-nav li {
  font-size: 12pt;
  padding-left: 15px;
}

.navbar {
  margin-bottom: 0;
}

.pad-no {
  padding: 0px;
}

.pad-l-5 {
  padding-left: 5px;
}

.pad-l-15 {
  padding-left: 15px;
}

.pad-l-30 {
  padding-left: 30px;
}

.pad-l-40 {
  padding-left: 40px;
}

.pad-l-45 {
  padding-left: 45px;
}

.pad-r-15 {
  padding-right: 15px;
}

a p {
  margin-bottom: 0;
}

.disp-inl {
  display: inline;
}

.list-border {
  border: 4px solid #6B2175;
}

.show_limit_quantity_item {
  margin-top: 10px;
  padding: 5px;
  display: none;
  background-color: #e5eecc;
  border: 1px solid #6B2175;
  text-align: left;
}
