html, body {
  margin: 0;
  height: 100%
}

.page-wrap {
  min-height: 100%;
}

footer {
  padding-top: 40px;
}

.bg-color {
  background-color: #6B2175;
}

.cart-blue {
  color: blue;
}

.navbar-nav li {
  font-size: 12pt;
  padding-left: 15px;
}

.navbar {
  margin-bottom: 0;
}

#list {
  padding: 0px;
}
