html, body {
  margin: 0;
  height: 100%
}

.page-wrap {
  min-height: 100%;
}

footer {
  padding-top: 40px;
}

.bg-color {
  background-color: #6B2175;
}

.cart-light-blue {
  color: #1D97BF;
}

.cart-blue {
  color: blue;
}

.indent-top-sm {
  padding-top: 0.3rem;
}

.navbar-nav li {
  font-size: 12pt;
  padding-left: 15px;
}

.navbar {
  margin-bottom: 0;
}

.pad-no {
  padding: 0px;
}

.pad-l-5 {
  padding-left: 5px;
}

a p {
  margin-bottom: 0;
}

.disp-inl {
  display: inline;
}
