<% title "Категория-#{@category.product_category} с товарами" %>

<h2 class="buffer-both text-center"><%= @category.product_category %> <hr /></h2>

<% if current_admin %>
  <%= render partial: 'items/admin_category_items' %>
<% else %>
  <%= render partial: 'items/category_items' %>
<% end %>
